body {
    
    margin: 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

html {
    overflow: scroll;
}

#header {
    background: #1f2937;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;
    align-items: center;*/
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.hero {
    display: flex;
    justify-content: center;
    padding: 100px 300px;
    gap: 20px;
}

.home a { 
    color: #f9faf8;
    font-size: 24px;
    flex: 1;

}

#header img {
    width: 500px;
    height: auto;
    flex: 1 1 auto;
}

.heroText {
    width: 500px;
    flex: 1 1 auto;
    color: #e5e7eb;
    font-size: 18px;
}


.links a {
    color: #e5e7eb;
    font-size: 18px;
}

.imgs img {
    width: 300px;
    height: auto;
    flex: 1 1 auto;
    border: #3882f6;
    border-width: 5px;
}

a {
    text-decoration: none;  
    font-weight: bold;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    padding: 5px 15px;
    color: #e5e7eb;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
     color: #f9faf8;
 }

 h2 {
    font-size: 36px;
    font-weight: 1000px;
    color: #1f2937;
    text-align: center;
    margin-top: 100px;
 }