body {
    margin: 0;
    overflow: scroll;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color:#1f2937
   
}


.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.hero {
    display: flex;
    justify-content: center;
    padding: 100px 250px;
    gap: 40px;
}


.home a { 
    color: #f9faf8;
    font-size: 24px;
    }



.heroText {
    width: 500px;
    color: #e5e7eb;
    font-size: 18px;
}


.links a {
    color: #e5e7eb;
    font-size: 18px;
    
}



.box {
    width: 250px;
    height: 250px;
    border: #3882f6;
    border-width: 20px;
    border-radius: 8px;
    background-size: 250px;
   
}

.one {
    background-image: url("./images/bath.jpg");
}

.two {
    background-image: url("./images/food.jpg");
}

.three {
    background-image: url("./images/sleep.jpg");
}

.four {
    background-image: url("./images/wasted.jpg");
}

.sub {
    text-align: center;
    width: 250px;
}

.pics {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.secTwo {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 200px;
}

.author {
    font-size: 24px;
    font-weight: bold;
    max-width: 70%;
    align-self: end;
}

.cta {
    display: flex;
    justify-content: center;
}
.call {
    width: 800px;
    height: 150px;
    padding: 10px 50px;
    border-radius: 8px;
    background: #3882f6;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
 .call p {
    color: #e5e7eb;
 }

 nav {
    background: #1f2937;
    padding: 20px;
 }

a {
    text-decoration: none;  
    font-weight: bold;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    border-width: 2px;
    border-color: #e5e7eb;
    padding: 5px 15px;
    color: #e5e7eb;
    font-weight: 700;
    border-style: solid;
    flex: 0;
    
  
}

h1 {
    font-size: 48px;
    font-weight: 1000;
     color: #f9faf8;
 }

 h2 {
    font-size: 36px;
    font-weight: 1000px;
    color: #1f2937;
    text-align: center;
    margin: 100px;
 }

 section {
    padding: 20px 200px;
 }

 header {
    background: #1f2937;
 }

 header img {
    
    width: 500px;
    height: auto;
}

q  {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    max-width: 70%;  
}

h3 {
    color: #e5e7eb;
    font-size: 24px;
    font-weight: 1000;
    margin-bottom: 0
}

footer {
    background: #1f2937;
    text-align: center;
    color: #e5e7eb;
    padding: 40px;

}